@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Display:wght@500;600;700&family=Noto+Sans:wght@400@500@600&family=Noto+Serif+Display:wght@700@800&display=swap');

body{
    background: black;
    color: white;
    margin: 0px;
    padding: 0;
    font-family: 'Noto Sans Display', sans-serif;
}


.line_02{
    width: 2px;
    height: 245px;
    background: white;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    margin-left: 630px;
    padding: 0;    
}

.year{
    position: absolute;
    top: 72px;
    font-size: 27px;
    color:white;
    margin-left: 470px;
    text-align: right;
}


.mid{
    font-weight: 600;
}


.main_title_01{
    font-size: 150px;
    position: absolute;
    top: 340px;
    margin-left: 50px;
    font-weight: 800;
}

/* 마우스 커서 갖다놨을때 */

.list_01{
    opacity: 50%;
}

.list_01:hover{
    opacity: 100%;
    transition: all 0.3s linear;
}

.list_02{
    opacity: 50%;
}

.list_02:hover{
    opacity: 100%;
    transition: all 0.3s linear;
}

.list_03{
    opacity: 50%;
}

.list_03:hover{
    opacity: 100%;
    transition: all 0.3s linear;
}

.list_tltle{
    font-size: 150px;
    font-weight: 800;
    position: absolute;
    top: 150px;
    margin-left: 800px;
    text-align: left;
    color: white;
}



.low_03{
    position: fixed;
    top: 10px;
    right: 15px;
    
}

.low_02{
    position: fixed;
    bottom: 10px;
    right: 15px;
    color: white;
}

.low_01{
    position: fixed;
    bottom: 10px;
    left: 15px;
    color: white;
}

.logo{
    
    position: fixed;
    top: 10px;
    left: 15px;
}

nav{
    font-size: 5px;
    position: fixed;
    bottom: 8px;
    white-space:nowrap;
    margin-left: 550px;
}
nav li{
    margin-left: 50px;
}

a{
    color: white;
    text-decoration: none;
}

ol, ul {
    list-style: none;
    margin:0px; padding:0px;
    float: left;
}

ul, li {
    display: inline-block;
    font-size: 30px;
    color: white;
}
