@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Display:wght@500;600;700&family=Noto+Sans:wght@400@500@600&family=Noto+Serif+Display:wght@700@800&display=swap');



body{
    background: black;
    color: white;
    margin: 0px;
    font-family: 'Noto Sans Display', sans-serif;
}





.box01{
    display: block;
    width: 200px;
    height: 260px;
    background: white;
    position: fixed;
    top: 250px;
    left: 500px;
    transition: all 0.5s linear;
    transform: translateY(20px);
    opacity: 50%;
}

.box01:hover{
    opacity: 100%;
    transition: all 0.5s 
}

.box02{
    width: 200px;
    height: 260px;
    background: white;
    position: fixed;
    top: 250px;
    left: 740px;
    transition: all 0.5s linear;
    transform: translateY(20px);
    opacity: 50%;

}

.box02:hover{
    opacity: 100%;
    transition: all 0.5s 
}

.box03{
    width: 200px;
    height: 260px;
    background: white;
    position: fixed;
    top: 250px;
    left: 980px;
    transition: all 0.5s linear;
    transform: translateY(20px);
    opacity: 50%;
}

.box03:hover{
    opacity: 100%;
    transition: all 0.5s 
}

.box04{
    width: 200px;
    height: 260px;
    background: white;
    position: fixed;
    top: 250px;
    left: 1220px;
    transition: all 0.5s linear;
    transform: translateY(20px);
    opacity: 50%;
}

.box04:hover{
    opacity: 100%;
    transition: all 0.5s 
}

.box05{
    width: 200px;
    height: 260px;
    background: white;
    position: fixed;
    top: 590px;
    left: 500px;
    transition: all 0.5s linear;
    transform: translateY(-20px);
    opacity: 50%;
}

.box05:hover{
    opacity: 100%;
    transition: all 0.5s 
}

.box06{
    width: 200px;
    height: 260px;
    background: white;
    position: fixed;
    top: 590px;
    left: 740px;
    transition: all 0.5s linear;
    transform: translateY(-20px);
    opacity: 50%;
}

.box06:hover{
    opacity: 100%;
    transition: all 0.5s 
}

.box07{
    width: 200px;
    height: 260px;
    background: white;
    position: fixed;
    top: 590px;
    left: 980px;
    transition: all 0.5s linear;
    transform: translateY(-20px);
    opacity: 50%;
}

.box07:hover{
    opacity: 100%;
    transition: all 0.5s 
}

.box08{
    width: 200px;
    height: 260px;
    background: white;
    position: fixed;
    top: 590px;
    left: 1220px;
    transition: all 0.5s linear;
    transform: translateY(-20px);
    opacity: 50%;
}

.box08:hover{
    opacity: 100%;
    transition: all 0.5s 
}

.list_01{

    font-weight: 800;
    font-size: 102px;
    position: fixed;
    top: 98px;
    left: 550px;
    letter-spacing:-2px;
}

.list_02{
    color: black;
    -webkit-text-stroke : 1px white;
    font-weight: 800;
    font-size: 100px;
    position: fixed;
    top: 100px;
    left: 840px;
    letter-spacing:-2px;
}

.list_02:hover{
    color: white;
    transition: all 0.3s linear;
}

.list_03{
    color: black;
    -webkit-text-stroke : 1px white;
    font-weight: 800;
    font-size: 100px;
    position: fixed;
    top: 100px;
    left: 1140px;
    letter-spacing:-2px;
}

.list_03:hover{
    color: white;
    transition: all 0.3s linear;
}




/* .banner01{
    width: 800px;
    height: 500px;
    background: wheat;
    position: absolute;
    top: 50px;
    margin-left: 530px;
} */



/* 하단은 고정css */

.low_03{
    position: fixed;
    top: 10px;
    right: 15px;
    
}

.low_02{
    position: fixed;
    bottom: 10px;
    right: 15px;
    color: white;
}

.low_01{
    position: fixed;
    bottom: 10px;
    left: 15px;
    color: white;
}

.logo{
    
    position: fixed;
    top: 10px;
    left: 15px;
}



nav{
    font-size: 5px;
    position: fixed;
    bottom: 8px;
    white-space:nowrap;
    margin-left: 550px;
}
nav li{
    margin-left: 50px;
}

a{
    color: white;
    text-decoration: none;
}

ol, ul {
    list-style: none;
    margin:0px; padding:0px;
    float: left;
}

ul, li {
    display: inline-block;
    font-size: 30px;
    color: white;
}
