@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Display:wght@500;600;700&family=Noto+Sans:wght@400@500@600&family=Noto+Serif+Display:wght@700@800&display=swap');



body{
    background: black;
    color: white;
    margin: 0px;
    font-family: 'Noto Sans Display', sans-serif;
}

.work_pic {
    width: 400px;
    height: 550px;
    background: white;
    position: fixed;
    top: 150px;
    left: 400px;
}

.explan_title{
    letter-spacing:-7px;
    font-size: 100px;
    font-weight: 700;
    position: fixed;
    top: 130px;
    left: 850px;
    text-align: left;
}

.explan_sub{
    letter-spacing:-3px;
    font-size: 27px;
    font-weight: 300;
    position: fixed;
    top: 300px;
    left: 860px;
    text-align: left;
}



/* 고정css */


.list_01{
    -webkit-text-stroke : 1px white;
    font-weight: 800;
    font-size: 102px;
    position: fixed;
    top: 98px;
    left: 100px;
    letter-spacing:-2px;
    
}

.list_01:hover{
    left: 130px;
    transition: all .2s linear;
}


.list_02{
    color: black;
    -webkit-text-stroke : 1px white;
    font-weight: 800;
    font-size: 100px;
    position: fixed;
    top: 200px;
    left: 100px;
    letter-spacing:-2px;
}

.list_02:hover{
    color: white;
    left: 130px;
    transition: all .2s linear;
}


.list_03{
    color: black;
    -webkit-text-stroke : 1px white;
    font-weight: 800;
    font-size: 100px;
    position: fixed;
    top: 300px;
    left: 100px;
    letter-spacing:-2px;
}

.list_03:hover{
    color: white;
    left: 130px;
    transition: all .2s linear;
}

.low_03{
    position: fixed;
    top: 10px;
    right: 15px;
    
}

.low_02{
    position: fixed;
    bottom: 10px;
    right: 15px;
    color: white;
}

.low_01{
    position: fixed;
    bottom: 10px;
    left: 15px;
    color: white;
}

.logo{
    
    position: fixed;
    top: 10px;
    left: 15px;
}


nav{
    font-size: 5px;
    position: fixed;
    bottom: 8px;
    white-space:nowrap;
    margin-left: 550px;
}
nav li{
    margin-left: 50px;
}

a{
    color: white;
    text-decoration: none;
}

ol, ul {
    list-style: none;
    margin:0px; padding:0px;
    float: left;
}

ul, li {
    display: inline-block;
    font-size: 30px;
    color: white;
}